<div id="product_show">
  <%= link_to "Edit Product", edit_product_path(@product), class: "btn btn-default" %>
  <%= link_to "Delete Product", product_path(@product), data: {method: :delete}, class: "btn btn-danger" %>

  <h1><%= @product.name %></h1>
  <h4><%= @product.country %></h4>
  <h4><%= number_to_currency(@product.price) %></h4>
  
  <hr>

  <h2>Reviews <%= link_to "Add Review", new_product_review_path(@product), class: "btn btn-default" %></h2>
  <% @product.reviews.each do |review| %>
    <h4>
      <%= review.content %>
      <span class="glyphicon glyphicon-remove">
      </span>
    </h4>
    <p>by <%= review.username %></p>
    <p>Rating: <%= review.rating %></p>
  <% end %>

  <hr>


</div>